.git
.env
.env.*
**/.env
**/.env.*
**/.htpasswd
**/.venv*
**/node_modules
**/__pycache__
**/.pytest_cache
**/.ruff_cache
**/dist
.models*
.data
.artifacts
output
**/test-results
**/playwright-report
.context
